body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive, Calibri;
    color: white;
    background-color: black;
}

#container{
    height: 100%;
    width: 100%;
}

.screen {
    margin: 0 auto;
    display: none;
    width: 100%;
    height: 100%;
}

.screen-content{
    width: 60%;
    height: 100vh;
    margin: auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(56, 56, 56, .7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    overflow: auto;
}

#canvas-main{
    width: 100%;
    height: 100%;
    max-width: 200vh;
    max-height: 100vh;
    margin: 0 auto;
}

.titles {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border-bottom: solid white 1px;
}

button {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 10%;
    min-height: 65px;
    margin-top: 20px;
    background-color: rgb(148, 79, 79);
    color: white;
    border: none;
    transition: all .5s ease-in-out;
    font-family: 'Press Start 2P', cursive, Calibri;
    font-size: 20px;
}

button:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    width: 70%;
    cursor: pointer;
    font-size: 25px;
}

button:active { 
    box-shadow: none;
    width: 65%;
    background-color: rgb(100, 50, 50);
    transition: all .1s ease-in-out;
    font-size: 23px;
}

.text-content{
    width: 80%;
    text-align: center;
    font-size: 20px;
    white-space: pre-wrap;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-title{
    font-size: 33px;
    border: solid white 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .5);
}

#final-score{
    font-size: 100px;
    padding: 50px;
}

#highscores{
    font-size: 50px;
}

#controls{
    font-size: 30px;
}
#user-name-wrapper{
    width: 20%;
    display: block;
    padding-top: 20px;
    float: left;
    text-align: right;
}
#user-name{
    border: solid white 1px;
    background-color: rgba(255, 255, 255, .5);
    width: 59%;
    height: 40px;
    font-family: 'Press Start 2P', cursive, Calibri;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    color: white;
    transition: all .5s ease-in-out;
}
#user-name:focus{
    width:64%;
    transition: all .1s ease-in-out;
}